/* Pinwheel animation css below*/
/* Credits to Linda Hurd for the pinwheel, this was opensource and i edited it a bit */
html, body {
    background: white url("/bg-5-full.jpg");
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

/*Header styles */
h1 {
    font-family: arial, helvetica, sans-serif;
    color: grey;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 30%;
}

h2 {
    font-size: 2em;
    font-family: arial, helvetica, sans-serif;
    color: grey;
    margin: 0;
    position: absolute;
    top: 64%;
    left: 37%;
}

#siteLoader {
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    /*padding-bottom: 75%;*/
/*/ / This is the aspect ratio height: 0;*/
    overflow: hidden;
    text-align: center;
}

#mapBox, #siteBox {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
}

#main-container {
    position: absolute;
    top: 50%;
}

#warning {
    text-align: center;
}

#ui-buttons {
    display: inline-block;
!important;
    float: right;
!important;
    position: fixed;
    padding: 0;
    margin: 0;
    height: auto;
    right: 0;
}

#ui-buttons li, #ui-buttons li:hover {
    cursor: pointer;
    border-radius: 50%;
    list-style: none;
    margin: 0px 5px;
}

.exit:hover {
    color: red;
}

.help:hover {
    color: blue;
}

/*pinwheel animation*/
.main-container {
    left: 46.4%;
    top: 25%;
    width: 100px;
    height: 100px;
    margin: 30px auto;
    position: absolute;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.pin-base {
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    left: 50px;
    top: 20px;
}

#pin-2 .pin-big-triangle {
    border-bottom: 30px solid red;
}

#pin-2 .pin-base {
    border-left: 30px solid red;
}

#pin-3 .pin-big-triangle {
    border-bottom: 30px solid mediumseagreen;
}

#pin-3 .pin-base {
    border-left: 30px solid mediumseagreen;
}

#pin-1 .pin-big-triangle {
    border-bottom: 30px solid gold;
}

#pin-1 .pin-base {
    border-left: 30px solid gold;
}

#pin-4 .pin-big-triangle {
    border-bottom: 30px solid deepskyblue;
}

#pin-4 .pin-base {
    border-left: 30px solid deepskyblue;
}

.pin-big-triangle {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 39px solid transparent;
    border-bottom: 30px solid #7a7678;
    position: absolute;
    left: 50px;
    top: 20px;
}

#pin-1, #pin-2, #pin-3, #pin-4 {
    position: relative;
    left: 0;
    top: 0;
}

#pin-2 {
    left: 50px;
    top: 50px;
    transform: rotate(90deg);
}

#pin-3 {
    top: 98px;
    left: 2px;
    transform: rotate(180deg);
}

#pin-4 {
    left: -50px;
    top: 49px;
    transform: rotate(-90deg);
}

.pinwheel-center-circle {
    background-color: #FFA40D;
    width: 7px;
    height: 7px;
    border-radius: 127px;
    position: absolute;
    top: 47px;
    left: 47px;
}
